@page "/Login"
<h3>Login</h3>
<input @bind="RequestVm.Email" placeholder="Email"/>
<input @bind="RequestVm.Password" placeholder="Password" type="password"/>
<button class="btn" onclick="@Submit">Submit</button>